.round-button {
	position: fixed;
	top: 10%;
	right: 5%;
	font-weight: 500;
	font-size: 30px;
	color: #000;
	background-color: #fff;
	border: none;
	border-radius: 100%;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
	z-index: 1;
}

.round-button:hover {
	background-color: var(--coffee-color);
	box-shadow: 0px 15px 20px rgba(210, 105, 30, 0.4);
	color: #fff;
	transform: translateY(-7px);
  }
  
.round-button:active {
	transform: translateY(-1px);
}

.round-button i {
	text-align: center;
	padding-left: 10px;
	padding-right: 14px;
	padding-top: 14px;
	padding-bottom: 14px;
}

.count {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    font-size: 14px;
    border-radius: 50%;
    background: salmon;
    width: 25px;
    height: 25px;
    line-height:25px;
    display: block;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }

.cart-product {
	height: 60px;
	margin-left: 20px;
	margin-top: 30px;
	display: grid;
	grid-template-columns: repeat(5, 90px);
	grid-template-rows: 70px;
	column-gap: 15px;
    justify-content: center;
    align-items: center;
	text-align: center;
}

.cart-product img {
	border-radius: 10px;
	height: 60px;
    width: 70px;
	object-fit: cover;
	justify-self: center;
}

.cart-product p {
	font-size: 1.1em;
}

.cart-product i {
    font-size: 23px;
}

.sum-label {
	
	text-align: right;
	font-weight: bolder;
	font-size: 1.2em;
}