.extras-container {
	margin-top: 20px;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, 240px);
	justify-content: center;
    align-items: center;
	row-gap: 20px;
}

.extras-container div {
    display: grid;
    grid-template-columns: repeat(3, 60px);
    column-gap: 5px;
    justify-content: space-around;
    align-items: center;
}

.extras-container div input[type="number"] {
    width: 70%;
}