.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: show 0.5s;
    z-index: 2;
}

.modal-body {
    position: relative;
    padding: 1.5rem;
    width: 500px;
    max-height: 80%;
    border-radius: 10px;
    background: whitesmoke;
    overflow-y: auto;
}

.fit {
   max-height: 300px;
   width: 100%;
   object-fit: cover;
   object-position: 0 80%;
} 


.modal-body i:hover {
    cursor: pointer;

}

.closeModal {
	position: fixed;
	opacity: 0.2;
	cursor: pointer;
    left: 80%;
    transition: opacity ease 0.5s;
}

.closeModal:hover {
    opacity: 1;
}
.closeModal::before,
.closeModal::after {
	content: '';
	position: absolute;
	top: 10px;
	display: block;
	width: 24px;
	height: 3px;
	background: #000;
}

.closeModal::before {
	transform: rotate(45deg);
}

.closeModal::after {
	transform: rotate(-45deg);
}
