.search__container {
    display: grid;
    align-items: center;
    grid-template-columns: 100% 5%;
    column-gap: 20px;
    position: relative;
    margin-left: 130px;
    padding-top: 60px;
    width: 37%;
}

.search__container i {
    font-size: 20px;
    color: var(--coffee-color);
}

.search__container i:hover{
    cursor: pointer;
    font-size: 22px;
}

.search__input {
    width: 100%;
    padding: 12px 24px;

    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    
    color: #575756;
    background-color: transparent;

    
    border-radius: 50px;
    border: 3px solid var(--coffee-color);
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.search__input::placeholder {
    color: color(#575756 a(0.8));
    font-size: 18px;
}

.search__input:focus {
    padding: 12px 0;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 3px solid var(--coffee-color);
    border-radius: 0;
    background-position: 100% center;
}

@media screen and (max-width: 624px) {
    .search__container {
        margin-left: 100px
    }
}