* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.price-label {
    font-weight: lighter;
    font-size: 1.25em;
    text-align: center;
}

.picture {
    max-height: 80%;
    max-width: 100%;
    border-radius: 10px;
}

.disable-select {
	user-select: none; 
}

.disable-pick {
	pointer-events: none;
}

.flex-container {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.column {
	flex-direction: column;
}

.main-grid{
	margin-left: 100px;
	border: 2px solid red;
}

input[type="number"] {
	background-color: #eee;
	vertical-align: top;
	outline: none;
	padding: 0;
	height: 40px;
	line-height: 40px;    
	text-indent: 10px;
	display: inline-block;
	width: 12%;
	box-sizing: border-box;
	border: 1px solid #ddd;
	font-size: 14px;
	border-radius: 3px;
	flex-basis: auto
} 
 
input[type="number"]:focus {
	outline: 2px solid green;
}
