.top-bar {
	display: inline-flex;
	position: fixed;
	top: 0px;
	height: 50px;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	z-index: 2;
}


.top-bar a{
	padding-left: 5px;
	padding-right: 5px;
	display: flex;
	height: 100%;
	width: calc(100% / 3);
	background-color: white;
	justify-content: center;
	align-items: center;
	border-radius: 0 0 20px 20px;

	transition-property: transform, height, background-color;
    transition-duration: 0.1s, 0.1s, 0.2s;
    transition-timing-function: ease-in-out;
}

.top-bar a:hover {
	background-color: rgb(183, 136, 79);
	transform: translateY(5px);
	height: 60px;
}

.top-bar a:hover div p {
	color: white;
}

.top-bar a div p {
	color: var(--coffee-color);
	font-weight: bold;
	transition-property: color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.top-bar a,
.top-bar a:hover,
.top-bar a:active {
	text-decoration: none;
}

@media screen and (min-width: 601px) {
	.top-bar a div p {
		font-size: 20px;
	}
	.top-bar {
		width: 45%;
		margin-left: 120px;
	}
  }

@media screen and (max-width: 640px) {
	.top-bar a div p {
		font-size: 4vw;
	}
	.top-bar {
		width: 70%;
		margin-left: 100px;
	}
}

.picked_top {
    background-color: var(--coffee-color) !important;
}

.picked_top div p {
	color: white !important;
}